*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 6.25%;
}

#my-button {
  width: 200rem;
  height: 40rem;
  color: white;
  background-color: teal;
  border-radius: 4rem;
  line-height: 40rem;
  text-align: center;
  font-family: sans-serif;
}

#my-button:hover {
  background-color: rgb(30, 109, 109);
  cursor: pointer;
  font-weight: bold;
}
